
<ion-content mode="ios">
  

  <ion-card class="nav">
   
    <ion-back-button class="bkbtn" mode="md" defaultHref="tabs/tab1"></ion-back-button>

    <img src="./../../assets/loga.png" class="logo1" alt="">
    <h5>AR Collections</h5>  


    <ion-menu-toggle mode="md">
      <ion-icon class="icn1" name="ellipsis-vertical"></ion-icon>
    </ion-menu-toggle>
    <!-- <ion-icon  name="grid-outline" (click)="catag()"></ion-icon> -->
    <ion-icon class="icn" name="cart-outline" (click)="cart()"></ion-icon>
    <ion-icon class="nicn" name="notifications-outline" (click)="cart()"></ion-icon>
    <ion-icon class="nicn" name="search-outline" (click)="cart()"></ion-icon>




  </ion-card>


  <ion-card class="c1" *ngFor="let n of not">
<h4>{{n.name}}</h4>
    <p>{{n.time}}</p>
  </ion-card> 




</ion-content>
