<ion-content mode="iso">

  <ion-card class="nav">


    <ion-back-button class="btn" mode="md" defaultHref="/"></ion-back-button>
   <ion-title class="t1">Search</ion-title>

    <ion-icon class="icn" name="cart-outline" (click)="cart()"></ion-icon>


  </ion-card>

  <ion-searchbar></ion-searchbar>


  <ion-row>
    <ion-col size="4" *ngFor="let d of product">
      <ion-card class="c2" (click)="gotodetail(d)">
        <img src="{{d.image}}" alt="">

        <ion-card-content>


          <ion-card-title class="st2">Rs {{d.price_per_quantity}}</ion-card-title>
            <ion-card-title class="tl">{{d.name | slice:0:15}}{{ d.name.length > 15 ? '...' : ''}}</ion-card-title>
            

        </ion-card-content>

      </ion-card>

    </ion-col>
  </ion-row>

</ion-content>
