<ion-content mode="ios">
  <img class="img" src="../../../assets/ar collection.png" alt="">



  <ion-card class="c1">

    <ion-card-title class="t2">Sign Up</ion-card-title>
    <ion-card-title class="t3">Create a new account</ion-card-title>

    <ion-item lines="none">
      <ion-label><ion-icon name="person-outline"></ion-icon> </ion-label>
      <ion-input type="text"  [(ngModel)]="this.user.frist_name" placeholder="First Name" ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label><ion-icon name="person-outline"></ion-icon> </ion-label>
      <ion-input type="text"  [(ngModel)]="this.user.last_name" placeholder="Last Name" ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label><ion-icon name="at-outline"></ion-icon> </ion-label>
      <ion-input type="email" [(ngModel)]="this.user.email" placeholder="Email"></ion-input>
    </ion-item>



    <ion-item lines="none">
      <ion-label><ion-icon name="person-outline"></ion-icon> </ion-label>
      <ion-input type="text" [(ngModel)]="this.user.cnic" placeholder="cnic" ></ion-input>
    </ion-item>



    <ion-item lines="none">
      <ion-label><ion-icon name="at-outline"></ion-icon> </ion-label>
      <ion-input type="text" [(ngModel)]="this.user.address" placeholder="Address"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label><ion-icon name="at-outline"></ion-icon> </ion-label>
      <ion-input type="text" [(ngModel)]="this.user.state" placeholder="State" ></ion-input>
    </ion-item>


    <ion-item lines="none">
      <ion-label><ion-icon name="at-outline"></ion-icon> </ion-label>
      <ion-input type="text" [(ngModel)]="this.user.city" placeholder="City" ></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label><ion-icon name="trail-sign-outline"></ion-icon> </ion-label>
      <ion-input type="number" [(ngModel)]="this.user.zip_code" placeholder="Zip_code"></ion-input>
    </ion-item>


    <ion-item lines="none" >
      <ion-label><ion-icon name="call-outline"></ion-icon> </ion-label>
      <ion-input type="number" [maxlength]="10" [(ngModel)]="this.user.mobile_no" placeholder="123456789">
        <ion-label style="padding: 0px 5px;">+92</ion-label>
      </ion-input>
    </ion-item>



    <p class="text">Already Have an Account? <b (click)="back()" >Sign In</b></p>



    <ion-button class="btn1" [disabled]="this.user.mobile_no === null || this.user.zip_code === null || this.user.city === '' || this.user.state === '' || this.user.address === '' || this.user.cnic === '' || !this.user.email.includes('@gmail.com') || this.user.last_name === '' || this.user.frist_name === '' " (click)="signinWithPhoneNumber()">Request OTP</ion-button>


  </ion-card>


</ion-content>
<div style="margin-top: 100px;" id="sign-in-button"></div>
