ion-tab-bar{
    --background: #fff;
    
    ion-icon{
        font-size: 20px;
    }

    ion-tab-button{
        --color: #070707;
        --color-selected: #a6a9ff;
    }
}


// @media only screen and (min-width: 600px) {
//     ion-tab-bar{
//         display: none;
//     }
// }