ion-tabs{
    background: transparent;
    box-shadow: none;
}

ion-tab-bar{
    --background: var(--ion-color-primary);
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    margin-bottom: 10px;
    
    ion-icon{
        font-size: 20px;
    }

    ion-tab-button{
        --color: #070707;
        --color-selected: #fff;
        --ripple-color: #fff;
    }
}


@media only screen and (min-width: 600px) {
    ion-tab-bar{
        display: none;
    }
}
