ion-tabs{
    background: white;
    box-shadow: none;
}

ion-tab-bar{
    // --background: #0093E9;
    width: 96%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100px;
    // margin-bottom: 10px;

    ion-icon{
        font-size: 20px;
    }

    ion-tab-button{
        --color: #070707;
        --color-selected: #0093E9;
        --ripple-color: #fff;
    }
}


@media only screen and (min-width: 600px) {
    ion-tab-bar{
        display: none;
    }
}
