<ion-content mode="ios">

  <ion-card class="nav">

    <ion-back-button class="bkbtn" mode="md" defaultHref="tabs/tab1"></ion-back-button>

    <img src="./../../assets/loga.png" class="logo1" alt="">
    <h5>AR Collections</h5>


    <ion-menu-toggle mode="md">
      <ion-icon class="icn1" name="ellipsis-vertical"></ion-icon>
    </ion-menu-toggle>
    <!-- <ion-icon  name="grid-outline" (click)="catag()"></ion-icon> -->
    <ion-icon class="icn" name="cart-outline" (click)="cart()"></ion-icon>
    <ion-icon class="nicn" name="person-outline" (click)="prof()"></ion-icon>
    <ion-icon class="nicn" name="search-outline" (click)="search()"></ion-icon>




  </ion-card>

  <ion-searchbar [(ngModel)]="FilterTerm" [debounce]="200" (ngModelChange)="filterr()" animated="true" ></ion-searchbar>


  <ion-row>


      <ion-col size-xs="6" size-sm="4" size-md="3" size-lg="2.4" *ngFor="let d of  items ">
        <ion-card class="c2" (click)="detail(d)">
          <img loading="lazy" src="{{d.image}}" alt="">

          <ion-card-content>


            <ion-card-title class="st2">Rs {{d.price_per_unit}}</ion-card-title>
              <ion-card-title class="tl">{{d.name | slice:0:15}}{{ d.name.length > 15 ? '...' : ''}}</ion-card-title>

          </ion-card-content>

        </ion-card>


      </ion-col>
    <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-row>



</ion-content>
