<ion-content mode="ios">

  <ion-card class="nav">
   

    <img src="./../../assets/loga.png" class="logo1" alt="">
    <h5>AR Collections</h5> 


    <ion-menu-toggle mode="md">
      <ion-icon class="icn1" name="ellipsis-vertical"></ion-icon>
    </ion-menu-toggle>
    <!-- <ion-icon  name="grid-outline" (click)="catag()"></ion-icon> -->
    <ion-icon class="icn" name="cart-outline" (click)="cart()"></ion-icon>
    <ion-icon class="nicn" name="notifications-outline" (click)="cart()"></ion-icon>
    <ion-icon class="nicn" name="search-outline" (click)="cart()"></ion-icon>




  </ion-card>

  <ion-slides pager="true">
    <ion-slide>

<ion-card class="c1">
  
  <ion-row>
    <ion-col size="7">

  <ion-card class="cc1">
    
    <ion-card-title class="tt1">
      We Provide You The Best Quality Products With Best Pricing
    </ion-card-title>

  </ion-card>

    </ion-col>

    <ion-col size="5">
      <img src="./../../assets/new-fashion-style-suit-sale-promotion-banner-template-free-psd-990x990.png" class="im1">
    </ion-col>


  </ion-row>

</ion-card>

    </ion-slide>

    <ion-slide>

      <ion-card class="c1">
        
        <ion-row>
          <ion-col size="7">
      
        <ion-card class="cc1">
          
          <ion-card-title class="tt1">
            We Provide You The Best Quality Products With Best Pricing
          </ion-card-title>
      
        </ion-card>
      
          </ion-col>
      
          <ion-col size="5">
            <img src="./../../assets/777c6b38586161b2d0014135042bb58f.png" class="im1">
          </ion-col>
       
      
        </ion-row>
      
      </ion-card>
      
          </ion-slide>


  </ion-slides>



<ion-row>
  <ion-card-title class="t2">Category</ion-card-title>
</ion-row>

<ion-slides [options]="slideOptsOnee">
  <ion-slide *ngFor="let c of categroy">

    <div class="bd" (click)="goto(c)">
      <img src="{{c.image}}" alt="">
      <h6>{{c.c_name}}</h6>
    </div>  

  </ion-slide>
</ion-slides>



<ion-row>
  <ion-card-title class="t2">Featured</ion-card-title>
</ion-row>

<ion-slides [options]="slideOptsOne">

      <ion-slide *ngFor="let d of feature">

        <ion-card class="c2" (click)="detail(d)">
          <img src="{{d.image}}" alt="">

          <ion-card-content>


            <ion-card-title class="st2">Rs {{d.price_per_unit}}</ion-card-title>
              <ion-card-title class="tl">{{d.name | slice:0:14}}{{ d.name.length > 14 ? '...' : ''}}</ion-card-title>
              

          </ion-card-content>

        </ion-card>

      </ion-slide>
  
</ion-slides>



<ion-row>
  <ion-card-title class="t2">Men Collection</ion-card-title>
</ion-row>

<ion-slides [options]="slideOptsOne">

      <ion-slide *ngFor="let d of latest">

        <ion-card class="c2" (click)="detail(d)">
          <img src="{{d.image}}" alt="">

          <ion-card-content>


            <ion-card-title class="st2">Rs {{d.price_per_unit}}</ion-card-title>
              <ion-card-title class="tl">{{d.name | slice:0:14}}{{ d.name.length > 14 ? '...' : ''}}</ion-card-title>
              
</ion-card-content>

        </ion-card>

      </ion-slide>
  
</ion-slides>

</ion-content>


