<ion-content mode="ios">

  <ion-card class="c1">



    <ion-card class="nav1">
      <ion-back-button defaultHref="tabs/tab1" mode="md"></ion-back-button>
      <ion-title>Profile</ion-title>
    </ion-card>

    <ion-card mode="ios" *ngIf="UserData" class="cardd">
      <ion-card-header>
      <ion-card-subtitle   class="t1">{{UserData.frist_name + ' ' + UserData.last_name}}</ion-card-subtitle>
        <ion-card-title *ngIf="OrderCounts.total_sale=== null">Rs : 0</ion-card-title>
        <ion-card-title *ngIf="OrderCounts.total_sale !== null">Rs :{{OrderCounts.total_sale}}</ion-card-title>
         <ion-label>Total Sale</ion-label>
      </ion-card-header>
      <ion-card-content>
        <ion-row >
          <ion-col size="12" style="border-bottom: 1px solid white;">
            <ion-row>
              <ion-col *ngIf="OrderCounts.total_profit !== null" size="12"> Total Profit Rs :{{OrderCounts.total_profit}}</ion-col>
              <ion-col *ngIf="OrderCounts.total_profit=== null" size="12">Total Profit Rs: 0</ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-row>
              <ion-col size="12">{{OrderCounts.completed}}</ion-col>
              <ion-col size="12">Completed</ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-row>
              <ion-col size="12">{{OrderCounts.confirmed}}</ion-col>
              <ion-col size="12">Confirmed</ion-col>
            </ion-row>
          </ion-col>
          <ion-col size="4">
            <ion-row>
              <ion-col size="12">{{OrderCounts.pending}}</ion-col>
              <ion-col size="12">Pending</ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
      <!-- <div class="circle2">
        <img src="../../assets/ar collection.png" class="img">
      </div>
    <ion-card-title *ngIf="UserData"  class="t1">{{UserData.frist_name + ' ' + UserData.last_name}}</ion-card-title> -->
    <!-- <ion-row *ngIf="UserData">
      <ion-col style="padding: 0px;" size="12" class="flex"> <ion-button  class="not_btn" fill="outline" expand="content" >
        Total Sale : {{OrderCounts.total_sale}} | Total Profit : {{OrderCounts.total_profit}}
      </ion-button></ion-col>
    </ion-row>
    <ion-row *ngIf="UserData">
      <ion-col size="12" class="flex"> <ion-button  class="not_btn" (click)="order()" fill="outline" expand="content" >
        Pending: {{OrderCounts.pending}} | Confirmed : {{OrderCounts.confirmed}} | Completed : {{OrderCounts.completed}}
      </ion-button></ion-col>
    </ion-row> -->
    <ion-row *ngIf="!UserData">
      <ion-col size="12" style="display: flex; justify-content: center;"> <ion-button (click)="verify()" expand="block" >
        Login To Continue
      </ion-button></ion-col>
    </ion-row>
  </ion-card>

  <ion-card class="c2">

    <ion-row>

      <ion-col size-xs="12" size-md="6">
    <ion-item lines="none" (click)="setOpen(true)">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-label>Edit Personal Info
        <p>Name, Phone, Email, Address</p>
      </ion-label>
      <ion-icon class="next" name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-item>
</ion-col>

<ion-col size-xs="12" size-md="6">
  <ion-item lines="none" (click)="setOpen1(true)">
    <ion-icon name="card-outline" slot="start"></ion-icon>
    <ion-label>Update Payments
      <p>Payment No , Payment Method</p>
    </ion-label>
    <ion-icon class="next" name="arrow-forward-outline" slot="end"></ion-icon>
  </ion-item>
</ion-col>



    <ion-col size-xs="12" size-md="6">
    <ion-item lines="none" (click)="order()">
      <ion-icon name="cube-outline" slot="start"></ion-icon>
      <ion-label>Orders
        <p>View your orders</p>
      </ion-label>
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-item>
</ion-col>

<!-- <ion-col size-xs="12" size-md="6">
    <ion-item lines="full" (click)="notification()">
      <ion-icon name="notifications-outline" slot="start"></ion-icon>
      <ion-label>Notifications
        <p>View your notifications</p>
      </ion-label>
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-item>
</ion-col> -->

<ion-col size-xs="12" size-md="6">
    <ion-item lines="none" (click)="logout()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Logout
        <p>Logout your account</p>
      </ion-label>
      <ion-icon name="arrow-forward-outline" slot="end"></ion-icon>
    </ion-item>
</ion-col>

<ion-col size="12" class="flex ion-padding-vertical" style="flex-direction: column;">
  <div class="div_icon"><ion-icon name="call-outline"></ion-icon>+923000147162  <ion-icon name="call-outline"></ion-icon>+923024186379</div>
   <div class="div_icon"> <ion-icon name="mail-outline"></ion-icon> arcollection162@gmail.com</div>

   <div style="margin-top: 10px;">Links</div>
<div class="flex">
  <ion-icon (click)="open('https://www.instagram.com/ar.collection162')" name="logo-instagram"></ion-icon>
  <ion-icon (click)="open('https://www.youtube.com/@arcollection-162')" name="logo-youtube"></ion-icon>
  <ion-icon (click)="open('https://www.facebook.com/profile.php?id=100088852481357&mibextid=LQQJ4d')" name="logo-facebook"></ion-icon>
</div>
</ion-col>
   </ion-row>
  </ion-card>


  <ion-modal [isOpen]="isModalOpen" [backdropDismiss]="false" [initialBreakpoint]="0.9" [breakpoints]="[0, 0.25, 0.9, 0.9]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-text-center" style="padding-left: 55px;">Edit Profile Info</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)"><ion-icon name="close"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-label position="floating">First Name</ion-label>
          <ion-input [(ngModel)]="UserData.frist_name" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Second Name</ion-label>
          <ion-input [(ngModel)]="UserData.last_name" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="UserData.e_mail" type="email"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input [(ngModel)]="UserData.mobile_no" ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">CNIC</ion-label>
          <ion-input [(ngModel)]="UserData.cnic" ></ion-input>
        </ion-item>


        <!-- <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input [(ngModel)]="UserData.password" type="password"></ion-input>
        </ion-item> -->

        <ion-item>
          <ion-label position="floating">State</ion-label>
          <ion-input [(ngModel)]="UserData.state" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">City</ion-label>
          <ion-input [(ngModel)]="UserData.city" type="text"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Zip Code</ion-label>
          <ion-input [(ngModel)]="UserData.zip_code" ></ion-input>
        </ion-item>


        <ion-button class="btn2" (click)="update_profile()">Update Profile</ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>


  <ion-modal [isOpen]="isModalOpen1" [backdropDismiss]="false" [initialBreakpoint]="0.5" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title class="ion-text-center" style="padding-left: 55px;">Update Payments</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen1(false)"><ion-icon name="close"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">

        <ion-item lines="none">
          <ion-item>
            <ion-select [(ngModel)]="payment.type" interface="popover" placeholder="Select Payment Method">
              <ion-select-option value="easypaisa">Easypaisa</ion-select-option>
              <ion-select-option value="jazzcash">JazzCash</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Account Number</ion-label>
          <ion-input [(ngModel)]="payment.acc_no" type="number">+92</ion-input>
        </ion-item>




        <ion-button class="btn2"  (click)="updatePayment()">Update Payments</ion-button>

      </ion-content>
    </ng-template>
  </ion-modal>


</ion-content>
