<ion-content mode="iso">

  <ion-card class="nav">


    <ion-back-button class="btn" mode="md" defaultHref="/"></ion-back-button>
   <ion-title class="t1">Profile</ion-title>

    <ion-icon class="icn" name="cart-outline" (click)="cart()"></ion-icon>


  </ion-card>



  <img src="./../../../assets/dj-svgrepo-com.svg" class="prf" alt="">

  <ion-button class="btn1" (click)="setOpen(true)"> Edit Profile</ion-button>

  <ion-card class="c1">

    <ion-card-subtitle class="t31"> Shahzaib Malik</ion-card-subtitle>
    <ion-card-subtitle class="t31"> +923095646842</ion-card-subtitle>
    <ion-card-subtitle class="t31">Housen no 671B3 Waterworks no 2 Pir Karian</ion-card-subtitle>
  </ion-card>

  <ion-row>
    <ion-card-title class="t21">Orders</ion-card-title>
  </ion-row>

  <ion-row>
    <ion-col size="6" *ngFor="let d of data">
      <ion-card class="c2">
        <img src="{{d.img}}" alt="">

        <ion-card-content>


          <ion-card-title class="st2">Rs {{d.price}}</ion-card-title>
            <ion-card-title class="tl">{{d.name | slice:0:15}}{{ d.name.length > 15 ? '...' : ''}}</ion-card-title>
            

        </ion-card-content>

      </ion-card>

    </ion-col>
  </ion-row>


  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
     
      <ion-content>
        <ion-button style="float: right;" fill="clear" (click)="setOpen(false)"><ion-icon name="close-circle"></ion-icon></ion-button>
        
        <ion-card-title class="t2">Edit Profile</ion-card-title>

        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>


        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>

        <ion-button class="btn1">Update</ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>



</ion-content>
