
<ion-content mode="ios">

  <ion-card class="nav">


    <ion-back-button class="btn" mode="md" defaultHref="/"></ion-back-button>


  </ion-card>

  <ion-card class="c1">
    <img alt="Silhouette of mountains" src="{{this.productdetail.image}}" />
    <ion-card-header>
      <ion-card-title>{{this.productdetail.name}}</ion-card-title>

      <ion-card-title class="tt1">Rs {{this.productdetail.price_per_unit}}</ion-card-title>
      

      <h6>Brand: </h6><ion-card-title class="tt2"></ion-card-title>

    </ion-card-header>
  
    <ion-card-content>

      <ion-card-title class="ds">Description</ion-card-title>

    </ion-card-content>
  </ion-card>

  <ion-button class="btn1" (click)="addcart(productdetail)">Add to cart</ion-button>

</ion-content>
