ion-content{
    --padding-top: 60px;
}

.nav{
    position: fixed;
    z-index: 999;

    .btn{

        color: #070707;
        --background: rgba(233, 205, 233, 0.597);
        --min-height: 10px;
        --min-width: 10px;
        --padding-start: 0;
        --padding-end: 0;
        --border-radius: 500px;
        --icon-font-size: 15px;
    }
}

.c1{
    width: 100%;
    margin: 0;
    box-shadow: none;
    text-align: center;
    margin-bottom: 50px;

    ion-card{
        box-shadow: none;
        margin-left: 0;
        margin-right: 0;
    }

    ion-card-header{
        text-align: left;

    }


    ion-card-content{
        text-align: left;
    }

    img{
        height: 60vh;
        border-radius: 20px;
        object-fit: cover;
        background: rgba(255, 238, 255, 0.687);
        border-bottom: 1px solid #eee;
    }
}

ion-card-title{
    font-size: 16px;
}

.tt1{
    font-size: 12px;
    font-weight: 500;
    margin-top: 10px;
    letter-spacing: .7px;
}

.tt2{
    font-size: 13px;
    font-weight: 500;
    margin-top: 11px;
    letter-spacing: .7px;
}

.ds{
    font-size: 20px;
    margin: 10px;
    margin-left: 0;
}



h6{
    float: left;
    margin: 0;
    margin-top: 10px;
    font-size: 14px;
    margin-right: 5px;
}

@media only screen and (min-width: 600px) {

    .btn1{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5px;
        margin-top: 40px;
        --border-radius: 15px; 
    }

    .c1{
        margin-top: 10vh;

    }
    
}

@media only screen and (max-width: 600px) {
.btn1{


    bottom: 0;
    left: 0;
    margin: 0;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 5px;
    margin-top: 30px;
    --border-radius: 15px; 
}

}



.nav{
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    background: #fff;
    margin: 0;
    padding-top: 10px;
    
    .logo1{
        height: 60px;
        width: 60px;
        border-radius: 10px;
        float: left;
        margin: 0;
    }

    h5{
        float: left;
        margin-top: 20px;
        color: var(--ion-color-primary);
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 16px;
        margin-left: 0;
    }

    ion-menu-toggle{
        float: right;
        margin: 0;
        width: 35px;
        padding: 0;
    }

    .icn{

        font-size: 20px;
        float: right;
        margin: 10px;
        padding-top: 10px;
        border-radius: 50px;
        color: #070707;
    }


    .nicn{

        font-size: 20px;
        float: right;
        margin: 10px;
        margin-right: 0;
        padding: 10px;
        border-radius: 50px;
        color: #070707;
    }



    .icn1{

        font-size: 20px;
        float: left;
        margin: 0px;
        margin-top: 20px;
        padding: 0px;
        border-radius: 30px;
        color: #070707;
    }

    .bkbtn{
        float: left;
        margin: 0;
        margin-top: 6px;
    }

}


@media only screen and (max-width: 600px) {

    .nicn{
        display: none;
    }

 

    .nav{

    .logo1{
        display: none;
    }

    // h5{
    //     display: none   ;
    // }
    }

}

.t22{
    font-size: 25px;
    margin-top: 30px;
    margin-bottom: 10px;
    float: left;
}

.share{
    float: right;
    margin-top: 36px;
    font-size: 20px;
}