
<ion-content mode="ios">

  <ion-card class="nav">


    <ion-back-button class="btn" mode="md" defaultHref="/"></ion-back-button>


  </ion-card>

  <ion-card class="c1">
    <img alt="Silhouette of mountains" src="{{this.data.img}}" />
    <ion-card-header>
      <ion-card-title>{{this.data.name}}</ion-card-title>

      <ion-card-title class="tt1">Rs {{this.data.price}}</ion-card-title>
      

      <h6>Brand: </h6><ion-card-title class="tt2">{{this.data.brand}}</ion-card-title>

    </ion-card-header>
  
    <ion-card-content>

      <ion-card-title class="ds">Description</ion-card-title>

      Here's a small text description for the card content. Nothing more, nothing less.
      Here's a small text description for the card content. Nothing more, nothing less.
      Here's a small text description for the card content. Nothing more, nothing less.
    </ion-card-content>
  </ion-card>

  <ion-button class="btn1" (click)="cart()">Add to cart</ion-button>

</ion-content>
