


<ion-content>
        <img class="as_img" src="../../../assets/ar collection.png" alt="">  
          
        <h3>Login</h3>


 <ion-list class="page-container">
  <ion-row  >
   <ion-col size="12" size-md="12">
    <ion-input  [(ngModel)]="this.user.email" placeholder="Email" type="Email"></ion-input>
    </ion-col>
    <ion-col size="12" size-md="12">
      <ion-input [(ngModel)]="this.user.password"  placeholder="Password" type="Password"></ion-input>
      </ion-col>
  </ion-row>

  <ion-button mode="ios" (click)="login()">Login</ion-button>
</ion-list>
<p class="text">Don't Have an Account <b (click)="next()" >Sign Up</b></p>
</ion-content>