
<ion-content mode="ios">
  <img class="img" src="../../../assets/ar collection.png" alt="">  
    
  

  <ion-card class="c1">

    <ion-card-title class="t2">Sign In</ion-card-title>
    <ion-card-title class="t3">Access to your account</ion-card-title>

    <ion-item lines="none">
      <ion-label><ion-icon name="at-outline"></ion-icon> </ion-label>
      <ion-input [(ngModel)]="this.user.username" placeholder="Email" type="Email"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-label><ion-icon name="lock-closed-outline"></ion-icon> </ion-label>
      <ion-input [(ngModel)]="this.user.password"  placeholder="Password" type="Password"></ion-input>
    </ion-item>
    <!-- <ion-card-title class="t1">Forgot Password?</ion-card-title> -->

    <ion-button class="btn1" (click)="login()">Login</ion-button>


<p class="text">Don't Have an Account? <b (click)="next()" >Sign Up</b></p>
  </ion-card>


</ion-content>