<ion-content mode="ios">




  <ion-card class="nav">

    <ion-back-button class="bkbtn" mode="md" defaultHref="tabs/tab1"></ion-back-button>

    <img src="./../../assets/loga.png" class="logo1" alt="">
    <h5>AR Collections</h5>


    <ion-menu-toggle mode="md">
      <ion-icon class="icn1" name="ellipsis-vertical"></ion-icon>
    </ion-menu-toggle>
    <!-- <ion-icon  name="grid-outline" (click)="catag()"></ion-icon> -->
    <ion-icon class="icn" name="cart-outline" (click)="cart()"></ion-icon>
    <ion-icon class="nicn" name="notifications-outline" (click)="cart()"></ion-icon>
    <ion-icon class="nicn" name="search-outline" (click)="cart()"></ion-icon>




  </ion-card>

  <ion-list *ngIf="this.cart.length  === 0">
    <img class="cartimg" src="../../assets/undraw_empty_cart_co35.svg" alt="">
    <p  class="empty">Add to Cart Is Empty</p>
  </ion-list>

  <ion-list  *ngIf = "this.cart.length !== 0">
    <ion-row>
    <ion-col size-xs="12" size-md="7">
  <ion-card class="c1">

    <ion-item class="it1" lines="none" *ngFor="let d of cart ; let i = index" >
      <ion-thumbnail slot="start">
        <img alt="Silhouette of mountains" src="{{d.image}}" />
      </ion-thumbnail>
      <ion-label>
        <h4>{{d.name}}</h4>
        <ion-card-title class="pr">Price {{d.price_per_unit}} PKR | Profit {{d.price_per_unit}} PKR</ion-card-title>


        <br>
      <ion-button  (click)="minus(i)">
      <ion-icon name="remove" class="min"></ion-icon>
      </ion-button>
      <span class="margin">{{d.quantity}}</span>
      <ion-button (click)="plus(i)">
      <ion-icon name="add" class="min"  ></ion-icon>
      </ion-button>
      </ion-label>

      <ion-button  (click)="remove(cart)"  class="del" ><ion-icon name="trash-outline" class="icn1" ></ion-icon></ion-button>

    </ion-item>

  </ion-card>
</ion-col>

<ion-col size-xs="12" size-md="5">
  <ion-card class="c1">

    <ion-item lines="none" class="it2">
      <ion-label>Subtotal</ion-label>
      <p>{{this.total}}</p>
    </ion-item>

    <ion-item lines="none" class="it2">
      <ion-label>Profit</ion-label>
      <p>{{this.total}}</p>
    </ion-item>

    <ion-item lines="full" class="it2">
      <ion-label>Delivery</ion-label>
      <p>Rs 300</p>
    </ion-item>

    <ion-item lines="none" class="it2">
      <ion-label>Total</ion-label>
      <p>{{this.grandtotal}}</p>
    </ion-item>


  </ion-card>

  <ion-button class="btn1" (click)="checkout()">Check Out</ion-button>
  </ion-col>
  </ion-row>
</ion-list>
</ion-content>
