<ion-content mode="ios">

  <ion-card class="nav">
   
    <ion-back-button class="bkbtn" mode="md" defaultHref="tabs/tab1"></ion-back-button>

    <img src="./../../assets/loga.png" class="logo1" alt="">
    <h5>AR Collections</h5>  


    <ion-menu-toggle mode="md">
      <ion-icon class="icn1" name="ellipsis-vertical"></ion-icon>
    </ion-menu-toggle>
    <!-- <ion-icon  name="grid-outline" (click)="catag()"></ion-icon> -->
    <ion-icon class="icn" name="cart-outline" (click)="cart()"></ion-icon>
    <ion-icon class="nicn" name="person-outline" (click)="prof()"></ion-icon>
    <ion-icon class="nicn" name="search-outline" (click)="search()"></ion-icon>




  </ion-card>

<ion-segment>

  <ion-segment-button value="Pending">Pending</ion-segment-button>
  <ion-segment-button value="Completed">Completed</ion-segment-button>

</ion-segment>

<div [ngSwitch]="type">


  
</div>

</ion-content>
