<ion-content mode="ios">

  <ion-card class="nav">
   
    <ion-back-button class="bkbtn" mode="md" defaultHref="tabs/tab1"></ion-back-button>

    <img src="./../../assets/loga.png" class="logo1" alt="">
    <h5>AR Collections</h5>  


    <ion-menu-toggle mode="md">
      <ion-icon class="icn1" name="ellipsis-vertical"></ion-icon>
    </ion-menu-toggle>
    <!-- <ion-icon  name="grid-outline" (click)="catag()"></ion-icon> -->
    <ion-icon class="icn" name="cart-outline" (click)="cart()"></ion-icon>
    <ion-icon class="nicn" name="person-outline" (click)="prof()"></ion-icon>
    <ion-icon class="nicn" name="search-outline" (click)="search()"></ion-icon>




  </ion-card>



<ion-segment mode="md" [(ngModel)]="type" (ionChange)="segmentChanged($event)" scrollable>
  <ion-segment-button value="Pending">Pending</ion-segment-button>
  <ion-segment-button value="Completed">Completed</ion-segment-button>
</ion-segment>


  <div [ngSwitch]="type">

    <ion-card class="c1" *ngSwitchCase="'Pending'">

      <ion-card class="c2">

        <table>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>NAME</th>
            <th>DATE</th>
            <th>TOTAL</th>
            <th>Address</th>
            <th>Mobile no</th>

            <th>See Details</th>
          </tr>
    
          <tr class="data" *ngFor=" let d of data">
            <td class="data1">1</td>
            <td class="clr">#{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.date}}</td>
            <td>Rs {{d.total}}</td>
            <td style="min-width: 150px;"> {{d.address}}</td>
            <td> {{d.mobile}}</td>
            <td class="data2">
              <ion-icon name="arrow-forward-outline" class="icn11"></ion-icon>  
            </td>
          </tr>
    
    
        </table>
    
      </ion-card>
    </ion-card>
  
    <ion-card class="c1" *ngSwitchCase="'Completed'">

      <ion-card class="c2">

        <table>
          <tr>
            <th>#</th>
            <th>ID</th>
            <th>NAME</th>
            <th>DATE</th>
            <th>TOTAL</th>
            <th>Address</th>
            <th>Mobile no</th>

            <th>See Details</th>
          </tr>
    
          <tr class="data" *ngFor=" let d of data">
            <td class="data1">1</td>
            <td class="clr">#{{d.id}}</td>
            <td>{{d.name}}</td>
            <td>{{d.date}}</td>
            <td>Rs {{d.total}}</td>
            <td style="min-width: 150px;"> {{d.address}}</td>
            <td> {{d.mobile}}</td>
            <td class="data2">
              <ion-icon name="arrow-forward-outline" class="icn11"></ion-icon>  
            </td>
          </tr>
    
    
        </table>
    
      </ion-card>

    </ion-card>
  
    
  </div>

</ion-content>
